
.light {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.dark {
  display: flex;
  background-color: orange;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.Nav2 {
  display: flex;
  gap: 30px;
}
