* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: wheat;
}
 
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(246, 255, 127);
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  background-color: rgb(255, 0, 157);
  text-decoration: none;
  color: rgb(238, 255, 0);
  padding: 10px;
  border-radius: 10px;
}