* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  /* color: wheat; */
}

button {
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 5px;
}

h1{
  background-color: aqua;
  width: fit-content;
  font-size: 100px;
  padding: 10px 100px;
  border-radius: 20px;
  margin: 10px;
}